@model NewSIGASE.Dto.Request.SalaDto

@{
    ViewData["Title"] = "Create";
}

<script>
    $(document).ready(function () {
        
    });
</script>

<h3>Cadastro de Sala</h3>

<hr />
<div class="row formulario">
    <div class="col-md-8">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group row">
				<label class="col-sm-4 col-form-label">Tipo da Sala</label>
				<div class="col-sm-8">
					<select asp-for="Tipo" class="form-control" asp-items="@ViewBag.TipoSala"></select>
				</div>
				<span asp-validation-for="Tipo" class="span text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-6 col-form-label">Identificador da Sala</label>
				<div class="col-sm-6">
					<input required asp-for="IdentificadorSala" class="form-control" />
				</div>
				<span asp-validation-for="IdentificadorSala" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-6 col-form-label">Capacidade de Alunos</label>
				<div class="col-sm-6">
					<input asp-for="CapacidadeAlunos" class="form-control" />
				</div>
				<span asp-validation-for="CapacidadeAlunos" class="text-danger"></span>
			</div>
			<div class="form-group row">
                <label class="col-sm-4 col-form-label">Observação <small style="color:#acabab">opcional</small></label>
				<div class="col-sm-12">
					<textarea rows="3" asp-for="Observacao" class="form-control"></textarea>
				</div>
				<span asp-validation-for="Observacao" class="text-danger"></span>
			</div>
			<div class="form-group row">
                <label class="col-sm-6 col-form-label">Área m² <small style="color:#acabab">opcional</small></label>
				<div class="col-sm-6">
					<input asp-for="Area" class="form-control" />
				</div>
				<span asp-validation-for="Area" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-6 col-form-label">Andar</label>
				<div class="col-sm-6">
					<input asp-for="Andar" class="form-control" />
				</div>
				<span asp-validation-for="Andar" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-12 col-form-label">Equipamentos (Para selecionar mais de um, segure ctrl)</label>
				<div class="col-sm-12">
					<select multiple asp-for="EquipamentoId" class="form-control selectpicker" asp-items="@ViewBag.Equipamentos"></select>
				</div>
			</div>
			<div class="row justify-content-center no-gutter">
				<div class="btn-group mr-lg-2">
					<input class="btn btn-success" type="submit" value="Salvar" />
				</div>
				<div class="btn-group">
					<a class="btn btn-info" asp-action="Index">Retornar</a>
				</div>
			</div>
		</form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
