@model NewSIGASE.Dto.Request.AgendamentoDto

@{
    ViewData["Title"] = "Create";
}

<script>
    $(document).ready(function () {
        $("#divObsSala").hide();

        $("#selectTipoSala").change(function () {
            $("#divObsSala").hide();
            $.ajax({
                type: "get",
                url: "/Agendamentos/RetornarSalas",
                data: { tipoSala: $("#selectTipoSala").val() },
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (obj) {
                    if (obj != null) {
                        var selectbox = $('#SelectSala');
                        selectbox.find('option').remove();

                        $('<option>').val(0).text('Selecione..').appendTo(selectbox);
                        $.each(obj, function (i, d) {
                            $('<option>').val(d.id).text(d.identificadorSala).appendTo(selectbox);
                        });
                    }
                }
            });
        })


        $("#SelectSala").change(function () {
            var SalaSelecionada = $('#SelectSala :selected').text();
            $.ajax({
                type: "get",
                url: "/Agendamentos/RetorarObservacoes",
                data: { tipoSala: $("#selectTipoSala").val(), idSala: $('#SelectSala :selected').val()},
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (obj) {
                    debugger;
                    if (obj.length > 0) {
                        if (obj[0].id == SalaSelecionada) {
                            $("#divObsSala").show();
                            $("#obsSala").text(obj[0].obs);
                        } else {
                            $("#divObsSala").hide();
                        };
                    } else {
                        $("#divObsSala").hide();
                    }
                }
            });
        })

    });
</script>

<h3>Cadastro de Agendamento</h3>
<hr />

<div class="row formulario">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsuarioId" value="@NewSIGASE.Infra.Configuration.AppSettings.Usuario" />
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Data do Agendamento</label>
                <div class="col-sm-6">
                    <input asp-for="DataAgendada" type="date" class="form-control" />
                </div>
                <span asp-validation-for="DataAgendada" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Período do Dia</label>
                <div class="col-sm-8">
                    <select asp-for="Periodo" class="form-control" asp-items="ViewBag.Periodo"></select>
                </div>
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tipo de Sala</label>
                <div class="col-sm-8">
                    <select id="selectTipoSala" class="form-control" asp-items="@ViewBag.TipoSala"></select>
                </div>
                <span class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Sala</label>
                <div class="col-sm-8">
                    <select id="SelectSala" asp-for="SalaId" class="form-control"></select>
                </div>
                <span asp-validation-for="SalaId" class="text-danger"></span>
            </div>
            <div id="divObsSala" class="form-group row">
                <label class="col-sm-8 col-form-label">Essa sala contém a seguinte observação:</label>
                <div class="col-sm-12">
                    <textarea readonly id="obsSala" rows="2" class="form-control disabled"></textarea>
                </div>
            </div>
            <div class="class=" btn-toolbar"" role="group">
                <div class="btn-group mr-lg-2">
                    <input class="btn btn-success" type="submit" value="Salvar" />
                </div>
                <div class="btn-group">
                    <a class="btn btn-info" asp-action="Index">Retornar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
