@model NewSIGASE.Dto.Request.EquipamentoDto

@{
    ViewData["Title"] = "Create";
}

<h3>Cadastro de Equipamento</h3>
<hr />

<style>
    .no-gutter {
        margin-top: 5px;
    }

        .no-gutter > [class*="col-"] {
            padding-top: 5px;
        }
</style>

<div class="container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row justify-content-center no-gutter">
            <div class="col-8">
                <label for="Serial">Serial</label>
                <input asp-for="Serial" class="form-control" />
                <span asp-validation-for="Serial" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center no-gutter">
            <div class="col-8">
                <label for="Nome">Nome</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center no-gutter">
            <div class="col-4">
                <label for="Marca">Marca</label>
                <input asp-for="Marca" class="form-control" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label for="Modelo">Modelo</label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center no-gutter">
            <div class="col-4">
                <label for="Peso">Peso (kg) <small style="color:#acabab">opcional</small></label>
                <input asp-for="Peso" type="number" class="form-control" />
            </div>
			<div class="col-4">
				<label for="Cor">Cor <small style="color:#acabab">opcional</small></label>
				<input asp-for="Cor" class="form-control" />
				<span asp-validation-for="Cor" class="text-danger"></span>
			</div>
        </div>
        <div class="row justify-content-center no-gutter">
            <div class="col-3">
                <label for="Comprimento">Comprimento (cm) <small style="color:#acabab">opcional</small></label>
                <input asp-for="Comprimento" type="number" class="form-control" />
            </div>
            <div class="col-2">
                <label for="Largura">Largura (cm) <small style="color:#acabab">opcional</small></label>
                <input asp-for="Largura" type="number" class="form-control" />
            </div>
            <div class="col-3">
                <label for="Altura">Altura (cm) <small style="color:#acabab">opcional</small></label>
                <input asp-for="Altura" type="number" class="form-control" />
            </div>
        </div>
        <div class="row justify-content-center no-gutter">
            <div class="col-1">
                <input class="btn btn-success" type="submit" value="Salvar" />
            </div>
            <div class="col-1">
                <a class="btn btn-info" asp-action="Index">Retornar</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
