@model NewSIGASE.Dto.Request.UsuarioDto

@{
	ViewData["Title"] = "Edit";
}

<h3>Editar Usuário</h3>
<hr />
<div class="row formulario">
	<div class="col-md-8">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Nome</label>
				<div class="col-sm-9">
					<input asp-for="Nome" class="form-control" />
				</div>
				<span asp-validation-for="Nome" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Matricula</label>
				<div class="col-sm-9">
					<input asp-for="Matricula" class="form-control" />
				</div>
				<span asp-validation-for="Matricula" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">E-mail</label>
				<div class="col-sm-9">
					<input asp-for="Email" class="form-control" />
				</div>
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Logradouro</label>
				<div class="col-sm-9">
					<input asp-for="Endereco.Logradouro" class="form-control" />
				</div>
				<span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Numero</label>
				<div class="col-sm-9">
					<input asp-for="Endereco.Numero" class="form-control" />
				</div>
				<span asp-validation-for="Endereco.Numero" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Complemento</label>
				<div class="col-sm-9">
					<input asp-for="Endereco.Complemento" class="form-control" />
				</div>
				<span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Bairro</label>
				<div class="col-sm-9">
					<input asp-for="Endereco.Bairro" class="form-control" />
				</div>
				<span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Cep</label>
				<div class="col-sm-9">
					<input asp-for="Endereco.Cep" class="form-control" />
				</div>
				<span asp-validation-for="Endereco.Cep" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Cidade</label>
				<div class="col-sm-9">
					<input asp-for="Endereco.Cidade" class="form-control" />
				</div>
				<span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">UF</label>
				<div class="col-sm-9">
					<input asp-for="Endereco.UF" class="form-control" />
				</div>
				<span asp-validation-for="Endereco.UF" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">País</label>
				<div class="col-sm-9">
					<input asp-for="Endereco.Pais" class="form-control" />
				</div>
				<span asp-validation-for="Endereco.Pais" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Perfil</label>
				<div class="col-sm-9">
					<select asp-for="Perfil" class="form-control" asp-items="@ViewBag.Perfil"></select>
				</div>
				<span asp-validation-for="Perfil" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-3 col-form-label">Situação</label>
				<div class="col-sm-9">
					<select class="form-control" asp-for="Ativo" asp-items="@ViewBag.Status"> </select>
				</div>
				<span asp-validation-for="Ativo" class="text-danger"></span>
			</div>
			<div class="class=" btn-toolbar"" role="group">
				<div class="btn-group mr-lg-2">
					<input class="btn btn-outline-success" type="submit" value="Salvar" />
				</div>
				<div class="btn-group">
					<a class="btn btn-outline-info" asp-action="Index">Retornar</a>
				</div>
			</div>
		</form>
	</div>
	@*<div class="col-md-4">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="Id" />
				<div class="form-group">
					<label asp-for="Nome" class="control-label"></label>
					<input asp-for="Nome" class="form-control" />
					<span asp-validation-for="Nome" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Matricula" class="control-label"></label>
					<input asp-for="Matricula" class="form-control" />
					<span asp-validation-for="Matricula" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Email" class="control-label"></label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Perfil" class="control-label"></label>
					<select asp-for="Perfil" class="form-control" asp-items="@ViewBag.Perfil"></select>
					<span asp-validation-for="Perfil" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Ativo" class="control-label"></label>
					<input asp-for="Ativo" type="checkbox" />
					<span asp-validation-for="Ativo" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Save" class="btn btn-primary" />
				</div>
			</form>
		</div>*@
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
