<script src="~/js/LoginJs/LoginJs.js"></script>
<div class="simple-login-container">
    <h2>Acesso</h2>
    <div id="MSG" class="alert alert-danger">
        <strong id="msgRetorno"></strong>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <input id="inputEmail" type="text" class="form-control" placeholder="E-mail">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <input id="inputSenha" type="password" placeholder="Enter your Password" class="form-control">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="submit" onclick="Login()" class="btn btn-block btn-login" placeholder="Enter your Password">
        </div>
    </div>
</div>