@model NewSIGASE.Dto.Request.AgendamentoDto

@{
    ViewData["Title"] = "Create";
}
<script>
    $(document).ready(function () {
        $("#selectTipoSala").change(function () {
            $.ajax({
                type: "get",
                url: "/Agendamentos/RetornarSalas",
                data: { tipoSala: $("#selectTipoSala").val() },
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (obj) {
                    debugger;
                    if (obj != null) {
                        var selectbox = $('#SelectSala');
                        selectbox.find('option').remove();
                        $.each(obj, function (i, d) {
                            $('<option>').val(d.id).text(d.identificadorSala).appendTo(selectbox);
                        });
                    }
                }
            });
        })
        
    });
</script>
<h4>Cadastro Agendamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsuarioId" value="@NewSIGASE.Infra.Configuration.AppSettings.Usuario" />
            <div class="form-group">
                <label asp-for="DataAgendada" class="control-label">Data do Agendamento</label>
                <input asp-for="DataAgendada" type="date" class="form-control" />
                <span asp-validation-for="DataAgendada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Periodo" class="control-label">Período do Dia</label>
                <select asp-for="Periodo" class="form-control" asp-items="ViewBag.Periodo"></select>
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tipo de Sala</label>
                <select id="selectTipoSala" class="form-control" asp-items="Combos.retornarOpcoesSala()"></select>
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaId" class="control-label">Sala</label>
                <select id="SelectSala" asp-for="SalaId" class="form-control"></select>
                <span asp-validation-for="SalaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
