@model NewSIGASE.Dto.Request.AgendamentoDto

@{
    ViewData["Title"] = "Edit";
}

<script>
    $(document).ready(function () {
        
        $("#selectTipoSala").change(function () {
            $.ajax({
                type: "get",
                url: "/Agendamentos/RetornarSalas",
                data: { tipoSala: $("#selectTipoSala").val() },
                dataType: 'json',
                contentType: "application/json; charset=utf-8",
                success: function (obj) {
                    if (obj != null) {
                        var selectbox = $('#SelectSala');
                        selectbox.find('option').remove();
                        $.each(obj, function (i, d) {
                            $('<option>').val(d.id).text(d.identificadorSala).appendTo(selectbox);
                        });
                        if (s != undefined) {
                            $("#SelectSala").val(s).change();
                        }
                    }
                }
            });
        });

        var a = $("#tipoHidden").val();
        var s = $("#salaHidden").val();
        $("#selectTipoSala").val(a).change();
        
    });
</script>
<h3>Editar Agendamento</h3>
<hr />
<input type="hidden" id="tipoHidden" value="@ViewBag.TipoSala" />
<input type="hidden" id="salaHidden" value="@ViewBag.Sala" />
<div class="row formulario">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UsuarioId" value="@NewSIGASE.Infra.Configuration.AppSettings.Usuario" />
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Data do Agendamento</label>
                <div class="col-sm-6">
                    <input asp-for="DataAgendada" type="date" class="form-control" />
                </div>
                <span asp-validation-for="DataAgendada" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Período do Dia</label>
                <div class="col-sm-8">
                    <select asp-for="Periodo" class="form-control" asp-items="ViewBag.Periodo"></select>
                </div>
                <span asp-validation-for="Periodo" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Tipo de Sala</label>
                <div class="col-sm-8">
                    <select id="selectTipoSala" class="form-control" asp-items="Combos.retornarOpcoesSala()"></select>
                </div>
                <span class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Sala</label>
                <div class="col-sm-8">
                    <select id="SelectSala" asp-for="SalaId" class="form-control"></select>
                </div>
                <span asp-validation-for="SalaId" class="text-danger"></span>
            </div>
            <div class="class=" btn-toolbar"" role="group">
                <div class="btn-group mr-lg-2">
                    <input class="btn btn-success" type="submit" value="Salvar" />
                </div>
                <div class="btn-group">
                    <a class="btn btn-info" asp-action="Index">Retornar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
