@model NewSIGASE.Dto.Request.UsuarioDto

@{
    ViewData["Title"] = "Edit";
}

<h3>Editar Usuário</h3>
<hr />

<style>
    .no-gutter {
        margin-top: 5px;
    }

        .no-gutter > [class*="col-"] {
            padding-top: 5px;
        }
</style>
<script src="~/js/UsuarioJs/UsuarioJs.js"></script>

<div class="messagealert" id="alert_container">
</div>

<div class="container">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" id="IdUsu" value="@(NewSIGASE.Infra.Configuration.AppSettings.Usuario)" />
        <input type="hidden" id="Id" asp-for="Id" />
        <div class="row justify-content-center no-gutter">
            <div class="col-6">
                <label for="Nome">Nome</label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label for="Matricula">Matrícula</label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center no-gutter">
            <div class="col-5">
                <label for="Email">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label for="Perfil">Perfil</label>
                <select asp-for="Perfil" class="form-control" asp-items="@ViewBag.Perfil"></select>
                <span asp-validation-for="Perfil" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center no-gutter">
            <div class="col-3">
                <label for="DataNascimento">Data de Nascimento</label>
                <input type="date" asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="col-3">
                <label for="Documento">CPF</label>
                <input asp-for="Documento" class="form-control" />
                <span asp-validation-for="Documento" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label for="Telefone">Telefone</label>
                <input type="tel" asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center no-gutter">
            <div class="col-2">
                <label for="Endereco.Cep">Cep</label>
                <input id="cep" asp-for="Endereco.Cep" class="form-control" />
                <span asp-validation-for="Endereco.Cep" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label for="Endereco.Cidade">Cidade</label>
                <input id="cidade" asp-for="Endereco.Cidade" class="form-control" />
                <span asp-validation-for="Endereco.Cidade" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label for="Endereco.UF">UF</label>
                <input id="uf" asp-for="Endereco.UF" class="form-control" />
                <span asp-validation-for="Endereco.UF" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center no-gutter">
            <div class="col-6">
                <label for="Endereco.Logradouro">Logradouro</label>
                <input id="logradouro" asp-for="Endereco.Logradouro" class="form-control" />
                <span asp-validation-for="Endereco.Logradouro" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label for="Endereco.Numero">Número</label>
                <input asp-for="Endereco.Numero" class="form-control" />
                <span asp-validation-for="Endereco.Numero" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center no-gutter">
            <div class="col-4">
                <label for="Endereco.Bairro">Bairro</label>
                <input id="bairro" asp-for="Endereco.Bairro" class="form-control" />
                <span asp-validation-for="Endereco.Bairro" class="text-danger"></span>
            </div>
            <div class="col-4">
                <label for="Endereco.Complemento">Complemento <small style="color:#acabab">opcional</small></label>
                <input asp-for="Endereco.Complemento" class="form-control" />
                <span asp-validation-for="Endereco.Complemento" class="text-danger"></span>
            </div>
        </div>
        <div class="row justify-content-center no-gutter">
            <div class="col-2">
                <label for="Ativo">Ativo</label>
                <select id="selectAtivo" class="form-control" asp-for="Ativo" asp-items="@ViewBag.Status"> </select>
            </div>
            <div class="col-6">
            </div>
        </div>
        <div class="row justify-content-center no-gutter">
            <div class="col-1">
                <input class="btn btn-success" type="submit" value="Salvar" />
            </div>
            <div class="col-1">
                <a class="btn btn-info" asp-action="Index">Retornar</a>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
